---
import {todoLeft} from './todos'
const itemLeft = todoLeft();
---
<div class="flex">
    <div class="pl-2 mt-2" id="itemLeft">
      {itemLeft} item(s) left
    </div>
    <div class="flex-auto gap-3 p-2 text-center" hx-boost>
        <button hx-target="#todo-list" hx-get="/partials/todo-filter?query=all">All</button>
        <button hx-target="#todo-list" hx-get="/partials/todo-filter?query=active">Active</button>
        <button hx-target="#todo-list" hx-get="/partials/todo-filter?query=completed">Completed</button>
    </div>
    <button hx-get="/partials/clear-completed" hx-target="#todo-list" hx-swap="outerHTML" class="pr-2">Clear Completed</button>
</div>